body::after{ content:''; display:block; height:100px; }


.pin-to-center{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.freaking-ping {
    background-color: #DB8A8A;
}

.fine-ping {
    background:#DB8A8A;
}

.my-footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    background:#DB8A8A;
}
