
.pin-to-center{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.freaking-ping {
    background-color: #DB8A8A;
}

.auth-form {
    width: 30%;
    height: 50%;
    background-color: #ffffff;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

.code-form {
    width: 20%;
    height: 30%;
    background-color: #ffffff;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

.my-footer{
    position: relative;
    bottom:0;
    width:100%;
    height:120px;
    background:#DB8A8A;
}

.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}

